<!DOCTYPE html>
<!-- Historia 16: registro publico de clientes (sin login/sesion, ver README) -->
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head th:replace="~{general/fragmentos :: head}"/>
    <body>
        <header th:replace="~{general/fragmentos :: header}"/>

        <section class="p-3">
            <div class="row">
                <div class="col-md-3"></div>
                <div class="col-md-6">
                    <form method="POST" th:action="@{/registro/guardar}" class="was-validated" enctype="multipart/form-data">
                        <div class="card">
                            <div class="card-header"><h4><i class="fa-solid fa-user-plus"></i> [[#{registro.titulo}]]</h4></div>
                            <div class="card-body">
                                <div class="mb-3">
                                    <label>[[#{usuario.nombre}]]</label>
                                    <input type="text" class="form-control" name="nombre" maxlength="50" required/>
                                </div>
                                <div class="mb-3">
                                    <label>[[#{usuario.apellidos}]]</label>
                                    <input type="text" class="form-control" name="apellidos" maxlength="80" required/>
                                </div>
                                <div class="mb-3">
                                    <label>[[#{usuario.correo}]]</label>
                                    <input type="email" class="form-control" name="correo" maxlength="100" required/>
                                </div>
                                <div class="mb-3">
                                    <label>[[#{usuario.username}]]</label>
                                    <input type="text" class="form-control" name="username" maxlength="30" required/>
                                </div>
                                <div class="mb-3">
                                    <label>[[#{usuario.password}]]</label>
                                    <input type="password" class="form-control" name="password" maxlength="100" required/>
                                </div>
                                <div class="mb-3">
                                    <label>[[#{usuario.telefono}]]</label>
                                    <input type="text" class="form-control" name="telefono" maxlength="20"/>
                                </div>
                                <div class="mb-3">
                                    <label>[[#{usuario.imagen}]]</label>
                                    <input type="file" name="imagenFile" onchange="mostrarImagen(this);"
                                           class="form-control"/>
                                    <img id="blah" src="#" alt="foto de perfil" height="200"/>
                                </div>
                            </div>
                            <div class="card-footer d-grid">
                                <button type="submit" class="btn btn-success">
                                    <i class="fas fa-check"></i> [[#{accion.registrar}]]</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </section>

        <section th:replace="~{general/fragmentos :: mostrarToast}"/>

        <footer th:replace="~{general/fragmentos :: footer}"/>

    </body>
</html>
