<!DOCTYPE html>
<html th:lang="${#locale.language}"
      xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{general/fragmentos :: head}">
    <title>Usuarios - FitSystem</title>
</head>

<body>

    <aside th:replace="~{dashboard/fragmentos :: sidebar}">
    </aside>

    <header th:replace="~{dashboard/fragmentos :: header}">
    </header>

    <main class="contenido-cliente">

        <section th:replace="~{admin/fragmentos :: mensajes}">
        </section>

        <section th:replace="~{admin/fragmentos :: agregar}">
        </section>

        <section th:replace="~{admin/fragmentos :: listado}">
        </section>

    </main>

</body>
</html>
