<!DOCTYPE html>
<html th:lang="${#locale.language}"
      xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{general/fragmentos :: head}">
    <title>Dashboard - FitSystem</title>
</head>

<body>

    <!-- Elementos compartidos por todos los roles -->
    <aside th:replace="~{dashboard/fragmentos :: sidebar}">
    </aside>

    <header th:replace="~{dashboard/fragmentos :: header}">
    </header>

    <!-- Área principal del dashboard -->
    <main class="contenido-cliente">

        <section th:replace="~{dashboard/contenido :: administrador}">
        </section>

        <section th:replace="~{dashboard/contenido :: entrenador}">
        </section>

        <section th:replace="~{dashboard/contenido :: cliente}">
        </section>

    </main>

</body>
</html>
